.home-container {
    padding-bottom: 1.5rem;
}

section {
    background-color: var(--color-background-secondary);
    border-left: solid var(--dimen-border-width) var(--color-background-accent);
    border-radius: var(--dimen-border-radius);
    padding: 1rem;
    margin-bottom: 2rem;
}

h1 {
    color: var(--color-text-accent);
}

.feature-card {
    background-color: var(--color-background-terciary);
    border-left: solid var(--dimen-border-width) var(--color-background-accent);
    border-radius: var(--dimen-border-radius);
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: var(--dimen-box-shadow);
}

.home-container img {
    height: 50vh;
    border-radius: var(--dimen-border-radius);
}

.gallery-section img {
    width: 29.5vw;
    height: auto;
    border-radius: var(--dimen-border-radius);
    margin: 0.5rem;
}

h1, h2, h3 {
    margin-bottom: 1.5rem;
}

.last {
    margin-bottom: 0;
}