.workout-details {
    padding-bottom: 2rem;
}

.workout_list {
    padding-bottom: 2rem;
}

.workout_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    border-left: var(--dimen-border-width) solid var(--color-background-accent);
    border-radius: var(--dimen-border-radius);
    background-color: var(--color-background-secondary);
    transition: box-shadow 0.75s, transform 0.75s;
}

    .workout_item:hover {
        box-shadow: 0 0.5rem 1rem 0 var(--color-background-terciary);
        transform: scale(1.01);
    }

.workout_description {
    padding: 1.5rem 2rem;
    margin: 1.5rem 0;
    background-color: var(--color-background-secondary);
    border-left: var(--dimen-border-width) solid var(--color-background-accent);
    border-radius: var(--dimen-border-radius);
    transition: box-shadow 0.75s, transform 0.75s;
}

    .workout_description:hover {
        box-shadow: 0 0.5rem 1rem 0 var(--color-background-terciary);
        transform: scale(1.01);
    }

    .workout_description p {
        padding-bottom: 0.5rem;
        margin: 0.5rem 0;
        font-size: 1.08rem;
    }

    .workout_description strong {
        color: var(--color-text-accent);
        font-weight: 600;
        letter-spacing: 0.5px;
    }






.map {
    width: 75%;
    height: 40vw;
    margin: 1rem auto;
    transition: box-shadow 0.75s, transform 0.75s;
}

    .map:hover {
        box-shadow: 0 0.5rem 1rem 0 var(--color-background-terciary);
        transform: scale(1.01);
    }

.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: var(--dimen-border-radius);
}

.leaflet-bar {
    background-color: var(--color-background-primary);
    border: var(--dimen-border-width) solid var(--color-text-primary);
    border-radius: var(--dimen-border-radius);
    padding: 0.25rem;
}

    .leaflet-bar a {
        background-color: var(--color-transparent);
        border: none;
        margin: 0.25rem;
    }

        .leaflet-bar a:hover {
            background-color: var(--color-transparent);
        }

        .leaflet-bar a span {
            background-color: var(--color-background-accent);
            transition: background-color 0.75s, color 0.75s;
            border-radius: 50%;
            padding: 0.25rem 0.5rem;
            margin: 0;
        }

            .leaflet-bar a span:hover {
                background-color: var(--color-background-accent-hover);
                box-shadow: 0 0 0.625rem var(--color-background-accent-hover);
            }

        .leaflet-bar a.leaflet-disabled{
            background-color: var(--color-transparent);
        }

        .leaflet-bar a.leaflet-disabled span {
            background-color: var(--color-background-accent-disabled);
            color: var(--color-text-disabled);
            cursor: not-allowed;
            opacity: 0.7;
        }