.messages-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.messages {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 13rem;
    display: flex;
    flex-direction: column;
}

.message, .own-message {
    border: solid var(--dimen-border-width) var(--color-text-primary);
    border-radius: var(--dimen-border-radius);
    margin: 0.5rem 15rem;
    padding: 0.5rem;
    width: fit-content;
    align-self: flex-start;
    background-color: var(--color-background-secondary);
    max-width: 50%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.own-message {
    margin-left: auto;
    background-color: var(--color-background-accent);
    color: var(--color-text-primary);
    align-self: flex-end;
}

p {
    margin: 0;
    padding: 0;
    background-color: var(--color-transparent);
}

#time {
    font-size: 0.8rem;
}

strong {
    background-color: var(--color-transparent);
}
